h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

body {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    line-height: 1.6;
    background-color: #f8f9fa;
    color: #333;
}

h1 {
    font-size: 36px;
    color: #ff4081;
}

p {
    font-size: 18px;
    color: #333;
}
.header {
    position: relative;
    width: 100%;
    height: 400px; /* Ajuste la hauteur selon ton image */
    overflow: hidden;
}

.header-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Permet à l'image de couvrir toute la zone sans déformation */
}

.header-logo {
    position: absolute;
    top: 10px;
    right: 20px;
}

.header-logo img {
    width: 100px; /* Taille du logo, ajuste selon besoin */
    height: auto;
}
